/* Body */

body {
  background-color: #F3DFA2;
  background: linear-gradient(#292F36, #BC6C25);
}

/* Nav bar */

.App {
  text-align: center;
}

.navbar {
  background-color: #292F36;
  color: #F3DFA2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0; 
  width: 100%;
  background: linear-gradient( #bc6c25, #292F36);
}

.company-name h1 {
  margin: 0;
  font-family: 'Script Bold', cursive;
}

.navbar-buttons button {
  background-color: #F3DFA2;
  color: #bc6c25;
  border: none;
  margin-right: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-buttons button:hover {
  background-color: #BC6C25;
  color: #F3DFA2;
}
@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .navbar-buttons button {
    margin-top: 10px;
  }
}

/* Card */

.card {
  border: thick double #292F36;  padding: 10px;
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s;
  background-image: url('public/image/bois2.jpeg');
  color: #292F36;
  font-family: 'Script Bold', cursive;


}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 50px #F3DFA2;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 100%;
}

.card h2 {
  font-size: 1.5rem;
  margin: 10px 0; 
}

.card p {
  margin: 10px 0;
}

.margin-top-card {
  margin-top: 200px;
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

/* Bouton card */

.button {
  background-color: #292F36;
  color: #F3DFA2;
  margin-right: 5px; 
}

.button:hover {
  background-color: #bc6c25;
}

.cart-button {
  background-color: #F3DFA2;
  color: #292F36;
  margin-left: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.cart-button:hover {
  background-color: #BC6C25;
  color: #F3DFA2;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 14px;
    margin: 0 3px;
  }
  .cart-button {
    margin: 0 3px;
  }
}
/* Footer */

.footer {
  background-color: #bc6c25;
  color: #F3DFA2;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  background: linear-gradient(#bc6c25, #292F36);
}
@media (max-width: 767px) {
  .footer-bar {
    font-size: 12px;
  }
}
